.App {
  background-color: black;
  color: white;
  height: 100vh;
  /* text-align: center; */
}

.centered {
  text-align: center;
}

.Board-main {
  border: 2px solid black;
}

.Category-main {
  /* border: 10px; */
  margin: 10px;
  text-align: center;
  padding: 10px;
  background-color: blue;
}

.Answer-main {
  border: 2px solid black;
  margin: 2px;
  padding: 10px;
  color: yellow;
  font-weight: bold;
  font-size: 32px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100;
  flex: 1;
}
